.edit-delete-event-button {
    margin-inline: 1px;
}

tbody .Bowling > .event-row-sport {
    --bs-table-bg: #bb99ff;
}

tbody .Dodgeball > .event-row-sport {
    --bs-table-bg: #8ace00;
}

tbody .Kickball > .event-row-sport {
    --bs-table-bg: #8ac7db;
}

tbody .Pickleball > .event-row-sport {
    --bs-table-bg: #ff99dd;
}

tbody .event-row-sportName {
    font-weight: bold;
    text-decoration: underline;
}

tbody .event-location-hk {
    --bs-table-bg: red;
}

.clickable {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: -25px;
    left: 105%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
    display: none;
}

.disabled:hover .tooltip {
    display: block;
}
