.ReactModal__Content {
    padding: 2em !important;
}
h3 {
    margin: auto;
    width: 50%;
    margin-block: 0.5em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.form-row label {
    flex-basis: 50%; /* Labels take 50% of the width */
    padding-right: 1em; /* Add some padding to push the input field away from the label */
    text-align: left;
}

.form-row .react-datepicker-wrapper,
.form-row input,
.form-row select {
    max-width: 90%;
    padding-left: 1em;
    text-align: center; /* Center align the text inside inputs */
}

.react-datepicker-wrapper {
    flex-basis: 100%; /* Labels take 50% of the width */
    width: 100%;
    padding-left: 1em;
}

.react-datepicker__input-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the input within the date picker */
    padding-left: 1em;
}

input[type='text'] {
    border: 1px solid #dee2e6;
    border-radius: 0.375em;
    min-height: 2.5em;
}

input[type='text']::placeholder {
    text-align: center; /* Center the placeholder text */
}

input[type='text']:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.modal-checkbox-container {
    display: flex;
    justify-content: center; /* Center the checkbox within the container */
    width: 100%;
}

.modal-checkbox {
    width: 1.5em;
    height: 1.5em;
    transform: translateX(0); /* Remove translation to center the checkbox */
}

.modal-checkbox:hover {
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.add-event-btn,
.save-changes-btn .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    font-weight: 500;
    box-shadow: 0 0 2px 1px rgb(168, 167, 167);
}

.add-event-btn,
.save-changes-btn {
    background-color: #b7e882;
}

.cancel-btn {
    background-color: #dc3444;
}

.add-event-btn:hover,
.save-changes-btn:hover {
    filter: brightness(0.8);
    background-color: #b7e882;
}

.cancel-btn:hover {
    filter: brightness(0.8);
    background-color: #dc3444;
}
